* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-family: PingFangSC-Regular;
}
iframe {
    display: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #f7f7f7;
}

#root {
    height: 100%;
}

li {
    list-style: none;
}

input:focus {
    outline-offset: 0;
    outline: none;
}

button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
}

textarea {

}
textarea:focus {
    outline: none;
}

.video-map__content {
    position: relative;
    width: 100%;

}

.video-map__content>__img {
    width: 100%;
    user-select: none;
}
.video-map__map {
    position: absolute;
}

p {
    color: white;
    padding: 2px;
}

@media (max-width: 1700px) {
    .mint {
        height: 100%;
    }
}
